@font-face {
  font-family: 'Iransans_Thin';
  src: url("../../fonts/iransans5/fonts/eot/IRANSansWeb_Light.eot");
  src: url("../../fonts/iransans5/fonts/eot/IRANSansWeb_Light.eot#iefix") format("embedded-opentype"), url("../../fonts/iransans5/fonts/woff/IRANSansWeb_Light.woff") format("woff"), url("../../fonts/iransans5/fonts/ttf/IRANSansWeb_Light.ttf") format("truetype"), url("../../fonts/iransans5/fonts/IRANSansWeb_Light.svg#CartoGothicStdBook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Iransans_Web';
  src: url("../../fonts/iransans5/fonts/eot/IRANSansWeb.eot");
  src: url("../../fonts/iransans5/fonts/eot/IRANSansWeb.eot#iefix") format("embedded-opentype"), url("../../fonts/iransans5/fonts/woff/IRANSansWeb.woff") format("woff"), url("../../fonts/iransans5/fonts/ttf/IRANSansWeb.ttf") format("truetype"), url("../../fonts/iransans5/fonts/IRANSansWeb.svg#CartoGothicStdBook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IransansWeb_Black';
  src: url("../../fonts/iransans5/fonts/eot/IRANSansWeb_Black.eot");
  src: url("../../fonts/iransans5/fonts/eot/IRANSansWeb_Black.eot#iefix") format("embedded-opentype"), url("../../fonts/iransans5/fonts/woff/IRANSansWeb_Black.woff") format("woff"), url("../../fonts/iransans5/fonts/ttf/IRANSansWeb_Black.ttf") format("truetype"), url("../../fonts/iransans5/fonts/IRANSansWeb_Black.svg#CartoGothicStdBook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IransansWeb_Medium';
  src: url("../../fonts/iransans5/fonts/eot/IRANSansWeb_Medium.eot");
  src: url("../../fonts/iransans5/fonts/eot/IRANSansWeb_Medium.eot#iefix") format("embedded-opentype"), url("../../fonts/iransans5/fonts/woff/IRANSansWeb_Medium.woff") format("woff"), url("../../fonts/iransans5/fonts/ttf/IRANSansWeb_Medium.ttf") format("truetype"), url("../../fonts/iransans5/fonts/IRANSansWeb_Medium.svg#CartoGothicStdBook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IransansWeb_UltraLight';
  src: url("../../fonts/iransans5/fonts/eot/IRANSansWeb_UltraLight.eot");
  src: url("../../fonts/iransans5/fonts/eot/IRANSansWeb_UltraLight.eot#iefix") format("embedded-opentype"), url("../../fonts/iransans5/fonts/woff/IRANSansWeb_UltraLight.woff") format("woff"), url("../../fonts/iransans5/fonts/ttf/IRANSansWeb_UltraLight.ttf") format("truetype"), url("../../fonts/iransans5/fonts/IRANSansWeb_UltraLight.svg#CartoGothicStdBook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Iransans';
  src: url("../../fonts/iransans5/fonts/eot/IRANSansWeb.eot");
  src: url("../../fonts/iransans5/fonts/eot/IRANSansWeb.eot#iefix") format("embedded-opentype"), url("../../fonts/iransans5/fonts/woff/IRANSansWeb.woff") format("woff"), url("../../fonts/iransans5/fonts/ttf/IRANSansWeb.ttf") format("truetype"), url("../../fonts/iransans5/fonts/IRANSansWeb.svg#CartoGothicStdBook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Iransans_Bold';
  src: url("../../fonts/iransans5/fonts/eot/IRANSansWeb_Bold.eot");
  src: url("../../fonts/iransans5/fonts/eot/IRANSansWeb_Bold.eot#iefix") format("embedded-opentype"), url("../../fonts/iransans5/fonts/woff/IRANSansWeb_Bold.woff") format("woff"), url("../../fonts/iransans5/fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype"), url("../../fonts/iransans5/fonts/IRANSansWeb_Bold.svg#CartoGothicStdBook") format("svg");
  font-weight: normal;
  font-style: normal;
}

.main .main-categories, .main .main-filter, .main .advertising, .main-search {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Iransans";
  font-size: 14px;
  direction: rtl;
  background-color: #f9f9f9;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  text-decoration: none;
  font-family: "Iransans";
}

button, input, select,
h1, h2, h3, h4, h5, h6 {
  font-family: "Iransans";
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.header .navigation {
  width: 100%;
  background-color: #eff0f1;
  border-top: 2px solid #0084ff;
}

.header .navigation-menu {
  display: flex;
  align-items: center;
}

.header .navigation-menu li {
  position: relative;
  transition: all .2s ease-in-out;
}

.header .navigation-menu li:nth-child(5) {
  margin-right: auto;
}

.header .navigation-menu li a {
  display: block;
  padding: 7.5px 15px;
  color: #62666d;
  font-size: 0.75rem;
  text-align: center;
  transition: all .2s ease-in-out;
}

.header .navigation-menu li a:hover {
  color: #fb9517;
}

.header .navigation-menu li a i {
  font-size: 1rem;
  vertical-align: middle;
}

.header .navigation-menu li:first-child a {
  padding-right: 0;
}

.header .navigation-menu li:last-child a {
  padding-left: 0;
}

.header .navigation-menu li.myacount {
  position: relative;
  transition: all 2s ease-in-out;
}

.header .navigation-menu li.myacount .myacount_menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
  background-color: white;
  border-radius: 3px;
  width: 130px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0.2px 3px rgba(0, 0, 0, 0.2);
}

.header .navigation-menu li.myacount .myacount_menu .line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.header .navigation-menu li.myacount .myacount_menu a {
  display: block;
  padding: 7.5px 15px;
  font-size: 0.75rem;
  color: #62666d;
  text-align: right;
  transition: all .2s ease-in-out;
}

.header .navigation-menu li.myacount .myacount_menu a:hover {
  color: #fb9517;
}

.header .navigation-menu li.myacount .myacount_menu_show {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.header .navigation-menu li.myacount:hover .myacount_menu {
  visibility: visible;
  opacity: 1;
}

.header .subnavigation {
  width: 100%;
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
}

.header .subnavigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .main-categories-list {
  display: flex;
  flex-wrap: wrap;
}

.main .main-categories-list .cat {
  width: 20%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.main .main-categories-list .cat:nth-child(1) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 0;
}

.main .main-categories-list .cat:nth-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 0;
}

.main .main-categories-list .cat:nth-child(3) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 0;
}

.main .main-categories-list .cat:nth-child(4) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 0;
}

.main .main-categories-list .cat:nth-child(5) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 0;
}

.main .main-categories-list .cat:nth-child(6) {
  padding-bottom: 0;
}

.main .main-categories-list .cat:nth-child(7) {
  padding-bottom: 0;
}

.main .main-categories-list .cat:nth-child(8) {
  padding-bottom: 0;
}

.main .main-categories-list .cat:nth-child(9) {
  padding-bottom: 0;
}

.main .main-categories-list .cat:nth-child(10) {
  padding-bottom: 0;
}

.main .main-categories-list .cat:nth-child(6), .main .main-categories-list .cat:first-child {
  padding-right: 0;
}

.main .main-categories-list .cat:nth-child(5), .main .main-categories-list .cat:last-child {
  padding-left: 0;
  border-left: none;
}

.main .main-categories-list .cat a {
  display: flex;
  align-items: center;
  transition: all .2s ease-in-out;
}

.main .main-categories-list .cat a .cat-icon {
  font-size: 1.125rem;
  color: #fe5576;
  margin-left: 15px;
}

.main .main-categories-list .cat a .cat-title {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: 400;
  color: #030a17;
}

.main .main-categories-list .cat a .cat-counter {
  font-size: 0.75rem;
  font-weight: 400;
  color: #b0b3b6;
}

.main .main-categories-list .cat a:hover .cat-title {
  color: #fb9517;
}

.main .main-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .main-filter .filter-line {
  width: 1px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 15px;
}

.main .main-filter-right {
  display: flex;
  align-items: center;
}

.main .main-filter-right .filterlink i {
  color: #62666d;
  font-size: 1.5rem;
  margin-left: 15px;
}

.main .main-filter-right .filterlink:hover i {
  color: #fb9517;
}

.main .main-filter-right i {
  color: #b0b3b6;
  font-size: 1.125rem;
  margin-left: 15px;
}

.main .main-filter-right span {
  color: #b0b3b6;
  font-size: 0.9rem;
  margin-left: 15px;
}

.main .main-filter-left {
  display: flex;
  align-items: center;
}

.main .main-filter-left a label {
  font-size: 0.75rem;
  color: #030a17;
  cursor: pointer;
}

.main .main-filter-left a label input[type="checkbox"] {
  vertical-align: middle;
  margin-left: 5px;
}

.main .main-filter-left .filter-list {
  border: none;
  font-size: 0.75rem;
  cursor: pointer;
}

.main .main-filter-left .filter-list:focus {
  box-shadow: 0 0 5px #0084ff;
}

.main .advertising {
  flex-direction: column;
  padding: 0;
}

.main .adv-slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  background-color: #eff0f1;
  overflow: hidden;
  padding: 30px 15px;
}

.main .adv-slider_item {
  min-width: 200px;
  margin-left: 15px;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 1s ease-in-out;
}

.main .adv-slider_item .adv-slider-item_img {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
}

.main .adv-slider_item .adv-slider-item_img img {
  width: 100%;
  margin: 0;
}

.main .adv-slider_item .adv-slider-item_title {
  font-size: 1rem;
  color: #030a17;
  margin-bottom: 10px;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main .adv-slider_item .adv-slider-item_buysafe {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5f2fe;
  color: #0084ff;
  font-size: 0.75rem;
  padding: 7.5px 10px;
  width: 100px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.main .adv-slider_item .adv-slider-item_buysafe i {
  font-size: 1rem;
  margin-left: 5px;
  vertical-align: middle;
}

.main .adv-slider_item .adv-slider-item_price {
  font-size: 0.75rem;
  color: #b0b3b6;
}

.main .adv-slider_item .adv-slider-item_price span {
  font-size: 1.125rem;
  color: #030a17;
}

.main .adv-slider_item .adv-slider-item_address {
  font-size: 0.75rem;
  color: #b0b3b6;
}

.main .adv-slider_item .slidenext {
  transform: translateX(215px);
}

.main .adv-slider .nav-btn {
  width: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}

.main .adv-slider .nav-btn div[class^="btn-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  color: #030a17;
  padding: 15px 20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: none;
  transition: all .2s ease-in-out;
}

.main .adv-slider .btn_active {
  display: flex !important;
}

.footer {
  width: 100%;
}

.footer-top {
  background-color: #eff0f1;
  padding: 30px 0;
}

.footer-top_f {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top_f .footer-top_right {
  width: 60%;
  display: flex;
}

.footer-top_f .footer-top_right article {
  width: 33.33%;
}

.footer-top_f .footer-top_left {
  width: 40%;
}

.footer-top_f .footer-top_left .app-link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  direction: ltr;
}

.footer-top_f .footer-top_left .app-link li {
  width: 95px;
}

.footer-top_f .footer-top_left .app-link li img {
  width: 100%;
  object-fit: cover;
}

.footer-bottom {
  width: 100%;
  background-color: #d0d1d3;
  padding: 10px 0;
}

.footer-bottom_copyRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom_copyRight p.copyRight {
  font-size: 0.75rem;
  color: #62666d;
}

.backToUp {
  padding: 7.5px 20px;
  font-size: 0.9rem;
  color: #62666d;
  background-color: #fdfdfd;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  position: fixed;
  bottom: 15px;
  right: 50px;
  z-index: 1000;
  display: none;
}

.backToUp i {
  font-size: 1.125rem;
  vertical-align: middle;
  margin-right: 7.5px;
}

.backToUp:hover {
  background-color: #f2f2f2;
}

.backToUp_show {
  display: block;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-top: 0;
}

.ml-0 {
  margin-top: 0;
}

.mr-0 {
  margin-top: 0;
}

.m-5px {
  margin: 5px;
}

.m-10px {
  margin: 10px;
}

.m-15px {
  margin: 15px;
}

.mr-5px {
  margin-right: 5px;
}

.ml-5px {
  margin-left: 5px;
}

.mb-5px {
  margin-bottom: 5px;
}

.mt-5px {
  margin-top: 5px;
}

.mr-7-5px {
  margin-right: 7.5px;
}

.ml-7-5px {
  margin-left: 7.5px;
}

.mb-7-5px {
  margin-bottom: 7.5px;
}

.mt-7-5px {
  margin-top: 7.5px;
}

.mr-10px {
  margin-right: 10px;
}

.ml-10px {
  margin-left: 10px;
}

.mb-10px {
  margin-bottom: 10px;
}

.mt-10px {
  margin-top: 10px;
}

.mr-15px {
  margin-right: 15px;
}

.ml-15px {
  margin-left: 15px;
}

.mb-15px {
  margin-bottom: 15px;
}

.mt-15px {
  margin-top: 15px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.p-5px {
  padding: 5px;
}

.p-10px {
  padding: 10px;
}

.p-15px {
  padding: 15px;
}

.pr-5px {
  padding-right: 5px;
}

.pl-5px {
  padding-left: 5px;
}

.pb-5px {
  padding-bottom: 5px;
}

.pt-5px {
  padding-top: 5px;
}

.pr-7-5px {
  padding-right: 7.5px;
}

.pl-7-5px {
  padding-left: 7.5px;
}

.pb-7-5px {
  padding-bottom: 7.5px;
}

.pt-7-5px {
  padding-top: 7.5px;
}

.pr-10px {
  padding-right: 10px;
}

.pl-10px {
  padding-left: 10px;
}

.pb-10px {
  padding-bottom: 10px;
}

.pt-10px {
  padding-top: 10px;
}

.pr-15px {
  padding-right: 15px;
}

.pl-15px {
  padding-left: 15px;
}

.pb-15px {
  padding-bottom: 15px;
}

.pt-15px {
  padding-top: 15px;
}

.blue {
  color: #0084ff;
}

.light-blue {
  color: #4ca9ff;
}

.red {
  color: #fe5576;
}

.green {
  color: #008c99;
}

.yellow {
  color: #ffc000;
}

.dark-yellow {
  color: #d9a400;
}

.maroon {
  color: #911265;
}

.pink {
  color: #ff89a0;
}

.title-footer {
  font-size: 0.75rem;
  font-weight: 600;
  color: #030a17;
  margin-bottom: 15px;
}

.link-footer {
  font-size: 0.75rem;
  font-weight: 400;
  color: #62666d;
  line-height: 2;
  transition: all .2s ease-in-out;
}

.link-footer:hover {
  color: #030a17;
}

.socialnetwork {
  display: flex;
}

.socialnetwork li {
  margin-right: 15px;
}

.socialnetwork li a {
  font-size: 23px;
  color: #62666d;
  cursor: pointer;
}

.socialnetwork li a:hover {
  color: #434549;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  transition: all .2s ease-in-out;
}

.bg-blue-color {
  background-color: #0084ff;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.bg-blue-color:hover {
  background-color: #1a90ff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.bg-gray-color {
  background-color: #eff0f1;
  color: #030a17;
  padding: 10px 20px;
  border-radius: 3px 0 0 3px;
  border: none;
  cursor: pointer;
}

.bg-gray-color:hover {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.main-search {
  position: relative;
}

.main-search .frm-search {
  display: flex;
}

.main-search .frm-search .frm-group {
  width: 25%;
  height: 3.2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: none;
}

.main-search .frm-search .frm-group:first-child {
  width: 35%;
  border-radius: 0 3px 3px 0;
}

.main-search .frm-search .frm-group:last-child {
  border-radius: 3px 0 0 3px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.main-search .frm-search .frm-group:hover {
  border-color: #b6b7ba;
}

.main-search .frm-search .frm-group .frm-input {
  width: 100%;
  padding: 7.5px 15px;
  border: none;
  border-radius: 0 3px 3px 0;
}

.main-search .frm-search .frm-group .frm-input ::placeholder {
  font-size: 0.9rem;
  font-weight: 500;
  color: #62666d;
}

.main-search .frm-search .frm-group .frm-input:focus {
  outline: #0084ff;
  box-shadow: 0 0 5px #0084ff;
}

.main-search .frm-search .frm-group .categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7.5px 15px;
  font-size: 0.9rem;
  color: #030a17;
  cursor: pointer;
}

.main-search .frm-search .frm-group .categories .categories_menu {
  width: 100%;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  z-index: 100;
  display: none;
  transition: all .2s ease-in-out;
}

.main-search .frm-search .frm-group .categories .categories_menu article {
  margin-top: 15px;
  text-align: right;
  width: 20%;
}

.main-search .frm-search .frm-group .categories .categories_menu article h3.cat-title {
  margin-bottom: 5px;
}

.main-search .frm-search .frm-group .categories .categories_menu article h3.cat-title a {
  font-size: 1rem;
  color: #030a17;
  font-weight: 500;
  transition: all .2s ease-in-out;
}

.main-search .frm-search .frm-group .categories .categories_menu article h3.cat-title a i {
  vertical-align: middle;
  margin-left: 5px;
}

.main-search .frm-search .frm-group .categories .categories_menu article h3.cat-title a:hover {
  color: #fb9517;
}

.main-search .frm-search .frm-group .categories .categories_menu article ul.cat-list a {
  font-size: 0.75rem;
  color: #b0b3b6;
  transition: all .2s ease-in-out;
}

.main-search .frm-search .frm-group .categories .categories_menu article ul.cat-list a:hover {
  color: #fb9517;
}

.main-search .frm-search .frm-group .categories .categories_menu_show {
  display: flex !important;
}

.main-search .frm-search .frm-group .city {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7.5px 15px;
  font-size: 0.9rem;
  color: #030a17;
  cursor: pointer;
}

.main-search .frm-search .btn-search {
  width: 15%;
  height: 3.2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px 0 0 3px;
  justify-content: space-around;
  font-size: 0.9rem;
  font-weight: 600;
}

.main-title {
  font-size: 1rem;
  font-weight: 600;
  color: #b0b3b6;
  margin: 30px auto;
  text-align: center;
}

.adv-box {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.adv-box_img {
  width: 25%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.adv-box_img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.adv-box_img .adv-box_view {
  position: absolute;
  bottom: 7px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 7.5px;
  font-size: 0.9rem;
  color: white;
  z-index: 10;
  border-radius: 3px 0 3px 0;
}

.adv-box_content {
  width: 75%;
  padding-right: 20px;
}

.adv-box_content .adv-box_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.adv-box_content .adv-box_title a {
  font-size: 1.125rem;
  font-weight: 600;
  color: #030a17;
}

.adv-box_content .adv-box_title i {
  font-size: 1rem;
  color: #b0b3b6;
  margin-right: auto;
}

.adv-box_content .adv-box_title a {
  transition: all .2s ease-in-out;
}

.adv-box_content .adv-box_title a:hover {
  color: #fb9517;
}

.adv-box_content .adv-box_desc {
  font-size: 0.75rem;
  font-weight: 400;
  color: #62666d;
  line-height: 2;
}

.adv-box_content .adv-box_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adv-box_content .adv-box_footer .price {
  font-size: 1.125rem;
  color: #030a17;
}

.adv-box_content .adv-box_footer .price span {
  font-size: 0.75rem;
  color: #b0b3b6;
}

.adv-box_content .adv-box_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0084ff;
  font-size: 0.75rem;
  color: #0084ff;
  font-weight: 600;
  padding: 7.5px 15px;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.adv-box_content .adv-box_btn i {
  font-size: 1.125rem;
}

.adv-box_content .adv-box_btn:hover {
  color: #fb9517;
}

.pagination {
  width: 100%;
  text-align: center;
  margin: 30px 0;
}

.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-list li {
  font-size: 0.9rem;
  color: #030a17;
  margin-left: 7.5px;
}

.pagination-list li.page-slide {
  padding: 5px 12px;
  font-size: 0.9rem;
  color: #b0b3b6;
  border: 1px solid #b0b3b6;
  cursor: pointer;
  border-radius: 3px;
  transition: all .2s ease-in-out;
}

.pagination-list li.page-slide:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.pagination-list .page-slide_active {
  background-color: #0084ff;
  color: white !important;
  border: white !important;
}

.city_popup-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.city_popup-menu .city_popup-menu-box {
  background-color: white;
  width: 450px;
  height: 350px;
  border-radius: 5px;
  padding: 15px;
  overflow-y: auto;
  text-align: center;
}

.city_popup-menu .city_popup-menu-box_close {
  text-align: left;
  transition: all .2s ease-in-out;
}

.city_popup-menu .city_popup-menu-box_close i {
  font-size: 1.125rem;
  color: #b0b3b6;
  cursor: pointer;
}

.city_popup-menu .city_popup-menu-box_close:hover i {
  color: #62666d;
}

.city_popup-menu .city_popup-menu-box_title {
  font-size: 1.125rem;
  color: #030a17;
  margin-bottom: 15px;
  text-align: center;
}

.city_popup-menu .city_popup-menu-box_search .form_input {
  position: relative;
  width: 100%;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.city_popup-menu .city_popup-menu-box_search .form_input i {
  width: 10%;
  font-size: 1.125rem;
  color: #030a17;
}

.city_popup-menu .city_popup-menu-box_search .form_input input {
  width: 90%;
  border: none;
  padding: 10px 15px;
}

.city_popup-menu .city_popup-menu-box_search .form_input input:focus {
  outline: none;
  box-shadow: none;
}

.city_popup-menu .city_popup-menu-box_search .form_input input ::placeholder {
  font-size: 0.9rem;
  color: #b0b3b6;
}

.city_popup-menu .city_popup-menu-box_title2 {
  width: 100%;
  padding: 10px 15px;
  background-color: #eff0f1;
  color: #62666d;
  margin-top: 15px;
  font-size: 0.75rem;
  text-align: right;
}

.city_popup-menu .city_popup-menu-box_list {
  width: 100%;
}

.city_popup-menu .city_popup-menu-box_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #030a17;
  padding: 7.5px 0;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.city_popup-menu .city_popup-menu-box_list li:last-child {
  border-bottom: none;
}

.city_popup-menu_show {
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */