
// Styles Margin
.mt-0{
    margin-top: 0;
}

.mb-0{
    margin-top: 0;
}

.ml-0{
    margin-top: 0;
}

.mr-0{
    margin-top: 0;
}

.m-5px{
    margin: 5px;
}

.m-10px{
    margin: 10px;
}

.m-15px{
    margin: 15px;
}

.mr-5px{
    margin-right: 5px;
}

.ml-5px{
    margin-left: 5px;
}

.mb-5px{
    margin-bottom: 5px;
}

.mt-5px{
    margin-top: 5px;
}

.mr-7-5px{
    margin-right: 7.5px;
}

.ml-7-5px{
    margin-left: 7.5px;
}

.mb-7-5px{
    margin-bottom: 7.5px;
}

.mt-7-5px{
    margin-top: 7.5px;
}

.mr-10px{
    margin-right: 10px;
}

.ml-10px{
    margin-left: 10px;
}

.mb-10px{
    margin-bottom: 10px;
}

.mt-10px{
    margin-top: 10px;
}

.mr-15px{
    margin-right: 15px;
}

.ml-15px{
    margin-left: 15px;
}

.mb-15px{
    margin-bottom: 15px;
}

.mt-15px{
    margin-top: 15px;
}

.ml-auto{
    margin-left: auto;
}

.mr-auto{
    margin-right: auto;
}

// Styles Padding
.p-5px{
    padding: 5px;
}

.p-10px{
    padding: 10px;
}

.p-15px{
    padding: 15px;
}

.pr-5px{
    padding-right: 5px;
}

.pl-5px{
    padding-left: 5px;
}

.pb-5px{
    padding-bottom: 5px;
}

.pt-5px{
    padding-top: 5px;
}

.pr-7-5px{
    padding-right: 7.5px;
}

.pl-7-5px{
    padding-left: 7.5px;
}

.pb-7-5px{
    padding-bottom: 7.5px;
}

.pt-7-5px{
    padding-top: 7.5px;
}

.pr-10px{
    padding-right: 10px;
}

.pl-10px{
    padding-left: 10px;
}

.pb-10px{
    padding-bottom: 10px;
}

.pt-10px{
    padding-top: 10px;
}

.pr-15px{
    padding-right: 15px;
}

.pl-15px{
    padding-left: 15px;
}

.pb-15px{
    padding-bottom: 15px;
}

.pt-15px{
    padding-top: 15px;
}
//////////////////////////////////////////
.blue{
    color: $blue-color;
}

.light-blue{
    color: $light-blue-color;
}

.red{
    color: $red-color;
}

.green{
    color: $green-color;
}

.yellow{
    color:$yellow-color;
}

.dark-yellow{
    color: $yellow-color-dark;
}

.maroon{
    color: $maroon-color;
}

.pink{
    color: $pink-color;
}

.title-footer{
    font-size: $font-size-sm;
    font-weight: 600;
    color:$black-color;
    margin-bottom: 15px;
}

.link-footer{
    font-size: $font-size-sm;
    font-weight: 400;
    color:$gray-color;
    line-height: 2;
    transition: all .2s ease-in-out;
}

.link-footer:hover{
    color: $gray-color-hover;
}

.socialnetwork{
    display: flex;

    li{
        margin-right: 15px;

        a{
            font-size: 23px;
            color: #62666d;
            cursor: pointer;

            &:hover{
                color:#434549;
            }
        }
    }
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.btn{
    @include f-center;
    font-size: $font-size-sm;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.bg-blue-color{
    background-color: $blue-color;
    color: $white-color;
    padding: 10px 20px;
    border-radius: 30px;
    border:none;
    cursor: pointer;

    &:hover{
        background-color:$blue-color-hover;
        box-shadow: 0 3px 5px rgba(0,0,0,.2);
    }
}

.bg-gray-color{
    background-color: $bg-gray-color;
    color: $black-color;
    padding: 10px 20px;
    border-radius: 3px 0 0 3px;
    border:none;
    cursor: pointer;

    &:hover{
        background-color:$white-color;
        box-shadow: 0 0 5px rgba(0,0,0,.2);
    }
}

// Styles Search
.main-search{
    position: relative;
    @extend %box-main;

    .frm-search{
        display: flex;

        .frm-group{
            width: 25%;
            height: 3.2rem;
            border:1px solid rgba(0,0,0,.1);
            border-left: none;

            
            
            &:first-child{
                width: 35%;
                border-radius: 0 3px 3px 0;
            }

            &:last-child{
                border-radius: 3px 0 0 3px;
                border-left: 1px solid rgba(0,0,0,.1);
            }

            &:hover{
                border-color: #b6b7ba;
            }

            .frm-input{
                width: 100%;
                padding: 7.5px 15px;
                border:none;
                border-radius: 0 3px 3px 0;

                ::placeholder{
                    font-size: $font-size-md;
                    font-weight: 500;
                    color: $gray-color;
                }

                &:focus{
                    outline: $blue-color;
                    box-shadow: 0 0 5px $blue-color;
                }
            }

            .categories{
                // position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 7.5px 15px;
                font-size: $font-size-md;
                color: $black-color;
                cursor: pointer;


                .categories_menu{
                    width: 100%;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    background-color: $white-color;
                    border-radius: 0 0 3px 3px;
                    box-shadow: 0 2px 3px rgba(0,0,0,.2);
                    padding: 15px;
                    display: flex;
                    flex-wrap: wrap;
                    z-index: 100;
                    display: none;
                    transition: all .2s ease-in-out;

                    article{
                        margin-top: 15px;
                        text-align: right;
                        width: 20%;

                        h3.cat-title{
                            margin-bottom: 5px;

                            a{
                              font-size: $font-size-lg;
                              color: $black-color;
                              font-weight: 500;
                              
                              transition: all .2s ease-in-out;
                              
                              i{
                                  vertical-align: middle;
                                  margin-left: 5px;
                              }

                              &:hover{
                                  color:$orange-color;
                              }
                            }
                        }

                        ul.cat-list{

                            a{
                                font-size: $font-size-sm;
                                color: $gray-color-2;
                                transition: all .2s ease-in-out;

                                &:hover{
                                    color:$orange-color;
                                }
                            }
                        }
                    }
                }

                .categories_menu_show{
                    display: flex !important;
                }
            }

            .city{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 7.5px 15px;
                font-size: $font-size-md;
                color: $black-color;
                cursor: pointer;
            }
        }

        .btn-search{
            width: 15%;
            height: 3.2rem;
            border:1px solid rgba(0,0,0,.1);
            border-radius: 3px 0 0 3px;
            justify-content: space-around;
            font-size: $font-size-md;
            font-weight: 600;

            
        }
    }
}

.main-title{
    font-size: $font-size-lg;
    font-weight: 600;
    color: $gray-color-2;
    margin: 30px auto;
    text-align: center;
}

// Styles Box Advertising
.adv-box{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 15px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

    &_img{
        width: 25%;
        height: auto;
        position: relative;
        overflow: hidden;
        
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 5px;
        }

        .adv-box_view{
            position: absolute;
            bottom: 7px;
            right: 0;
            background-color: rgba($color: #000000, $alpha: .7);
            padding: 5px 7.5px;
            font-size: $font-size-md;
            color: $white-color;
            z-index: 10;
            border-radius: 3px 0 3px 0;

            span{

            }
        }
    }

    &_content{
        width: 75%;
        padding-right: 20px;

        .adv-box_title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            a{
                font-size: $font-size-xl;
                font-weight: 600;
                color:$black-color;
            }
        
            i{
                font-size: $font-size-lg;
                color: $gray-color-2;
                margin-right: auto;
            }
    
            a{
                transition: all .2s ease-in-out;
    
                &:hover{
                    color: $orange-color;
                }
            }
        }
        
        .adv-box_desc{
            font-size: $font-size-sm;
            font-weight: 400;
            color:$gray-color;
            line-height: 2;
        }
        
        .adv-box_footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .price{
                font-size: $font-size-xl;
                color: $black-color;

                span{
                    font-size: $font-size-sm;
                    color: $gray-color-2;
                }
            }
        }
    
        .adv-box_btn{
            @include f-center;
            border:1px solid $blue-color;
            font-size: $font-size-sm;
            color:$blue-color;
            font-weight: 600;
            padding: 7.5px 15px;
            border-radius: 30px;
            background-color: white;
            cursor: pointer;
            transition: all .2s ease-in-out;

            i{
                font-size: $font-size-xl;
            }
    
            &:hover{
                color: $orange-color;
            }
        }
    }
}

.pagination{
    width: 100%;
    text-align: center;
    margin: 30px 0;

    &-list{
        @include f-center;

        li{
            font-size: $font-size-md;
            color:$black-color;
            margin-left:7.5px;
        }

        li.page-slide{
            padding: 5px 12px;
            font-size: $font-size-md;
            color:$gray-color-2;
            border:1px solid $gray-color-2;
            cursor: pointer;
            border-radius: 3px;
            
            transition: all .2s ease-in-out;

            &:hover{
                box-shadow: 0 0 5px rgba(0,0,0,.5);
            }
        }

        .page-slide_active{
            background-color: $blue-color;
            color: $white-color !important;
            border:$white-color !important;
        }
    }
}

.city_popup-menu{
    position: fixed;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    @include f-center;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;

    .city_popup-menu-box{
        background-color: $white-color;
        width: 450px;
        height: 350px;
        border-radius: 5px;
        padding: 15px;
        overflow-y: auto;
        text-align: center;

        &_close{
            text-align: left;
            transition: all .2s ease-in-out;

            i{
                font-size: $font-size-xl;
                color: $gray-color-2;
                cursor: pointer;
            }

            &:hover i{
                color: $gray-color;
            }
        }

        &_title{
            font-size: $font-size-xl;
            color: $black-color;
            margin-bottom: 15px;
            text-align: center;
        }

        &_search{
            .form_input{
                position: relative;
                width: 100%;
                border-radius: 3px;
                border:1px solid rgba(0,0,0,.1);
                display: flex;
                align-items: center;

                i{
                    width: 10%;
                    font-size: $font-size-xl;
                    color: $black-color;
                }

                input{
                    width: 90%;
                    border:none;
                    padding: 10px 15px;

                    &:focus{
                        outline: none;
                        box-shadow: none;
                    }

                    ::placeholder{
                        font-size: $font-size-md;
                        color: $gray-color-2;
                    }
                }
            }
        }

        &_title2{
            width: 100%;
            padding: 10px 15px;
            background-color: #eff0f1;
            color: $gray-color;
            margin-top: 15px;
            font-size: $font-size-sm;
            text-align: right;
        }

        &_list{
            width:100%;

            li{
                @include f-style;
                font-size: $font-size-md;
                color: $black-color;
                padding: 7.5px 0;
                cursor: pointer;
                border-bottom: 1px solid rgba(0,0,0,.1);

                &:last-child{
                    border-bottom: none;
                }

            }
        }
    }

}

.city_popup-menu_show{
    visibility: visible;
    opacity: 1;
}







